APP_ENV=dev
APP_URL=http://localhost:8080

DB_HOST=db
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=vite_user
DB_PASS=change_me
DB_ROOT_PASS=change_me

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=vite_et_gourmand_nosql
MONGO_ROOT_USER=mongo_root
MONGO_ROOT_PASS=change_me
MONGO_COLLECTION_ACTIVITY=activity_logs

MONGODB_URI=mongodb://mongo_root:change_me@mongo:27017/vite_et_gourmand_nosql?authSource=admin